<div class="tips-list">
  <h3 class="title">Most Tipped Users</h3>
  <div class="cont col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <table class="table">
      <tr ng-repeat="user in tipsData.leaderboard | limitTo: 10">
        <td class="index">{{$index+1}}</td>
        <td class="channel-name">{{user.name}}</td>
        <td><b>{{user.bits}}</b> bits</td>
        <td>${{user.usd | number:2}}</td>
      </tr>
      <tr>
        <td colspan="4">
          <a class="button" ui-sref="home">BACK</a>
          <a class="button" ui-sref="stats">TOP CHANNELS</a>
        </td>
      </tr>
    </table>
  </div>
</div>
