/*
* @Author: Jake Brukhman
* @Date:   2017-01-14 21:35:53
* @Last Modified by:   Jake Brukhman
* @Last Modified time: 2017-01-14 22:25:03
*/


.invites {
  .email {
    font-weight: 100;
    margin: 0 auto;
    max-width: 265px;
    font-size: 1.5rem;
    margin-top: 1rem;
    vertical-align: middle;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: .9rem;
    color: grey;
    border: 1px solid grey;
  }
  .btn {
    font-weight: 500;
  }
}
