<div class="channels-list">
  <h3 class="title">Top Research Channels</h3>
  <div class="cont col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <table class="table">
      <tr ng-repeat="ch in channelsData.channels | limitTo: 10">
        <td class="index">{{$index+1}}</td>
        <td class="channel-name">#{{ch.name}}</td>
        <td><b>{{ch.members}}</b> researchers</td>
      </tr>
      <tr>
        <td colspan="3"><a class="button" ui-sref="home">BACK</a></td>
      </tr>
    </table>
  </div>
</div>
