/*
* @Author: Jake Brukhman
* @Date:   2017-01-14 21:11:08
* @Last Modified by:   Jake Brukhman
* @Last Modified time: 2017-01-15 19:29:43
*/

html, body {
}

body {
  background-color: black;
  background: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center-top;
  @media (max-width: $screen-sm-max) {
    background-size: contain;
  }
}

.main {
  position: fixed;
  background-color: white;
  color: black;
  padding: 3em;
  text-align: center;

  @media (min-width: $screen-sm-max) {
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  @media (max-width: $screen-sm-max) {
    position: relative;
    top: 30%;
  }


  .logo {
    margin: 0 auto;
    display: block;
    width: 160px;
  }

  .slack {
    margin: 0 auto;
    display: block;
    width: 80px;
  }

  .divider {
    margin: 2em auto;
    width: 140px;
    &.black {
      border: 4px solid black;
    }
    &.green {
      border: 4px solid $color-highlight;
    }
    &.orange {
      border: 4px solid orange;
    }
  }

  .info {
    font-size: 1.5em;
    color: #666;
    font-weight: lighter;
    line-height: 1.25em;
    padding: 0 2em;
  }

  .slackinfo {
    .online {
      font-weight: bold;
      color: darkred;
    }
  }



}

// .main {
//   text-align: center;
//   width: 100%;

//   .hero {
//     background-color: white;
//     opacity: .8;
//     padding: 4em 0;
//   }

//   .info {
//     font-size: 1.5em;
//     color: #666;
//     font-weight: lighter;
//     line-height: 1em;
//   }

//   .logo {
//     margin: 0 auto;
//     display: block;
//     width: 160px;
//   }

//   .slack {
//     margin: 0 auto;
//     display: block;
//     width: 80px;
//   }

//   .divider {
//     margin: 2em auto;
//     width: 200px;
//     &.green {
//       border: 5px solid $color-highlight;
//     }
//     &.orange {
//       border: 5px solid orange;
//     }
//   }

//   .appeal {
//     h3 { color: $color-highlight; }
//   }

// }


