<div class="row main">
  <a href="http://coinfund.io"><img src="assets/images/coinfund-logo-padded.png" class="logo"/></a>
  <img src="assets/images/slack.png" class="slack"/>
  <div class="divider black"></div>
  <div class="info">We are an open community for blockchain technology research.</div>
  <div class="vspace-2" invites></div>
  <div class="slackinfo vspace-2" ng-if="ctrl.data">
    <div>
      <span class="online">{{ctrl.data.users_online}}</span> of <b>{{ctrl.data.users}}</b> members online across <b>{{ctrl.data.channels}}</b> channels.
    </div>
    <div ng-if="ctrl.data.most_popular"><b>#{{ctrl.data.most_popular}}</b> is popular, with <b>{{ctrl.data.max_users}}</b> researchers.</div>
    <a class="button" ui-sref="stats">TOP CHANNELS</a>
    <a class="button" ui-sref="tips">LEADERBOARD</a>
    </div>
</div>
