/*
* @Author: Jake Brukhman
* @Date:   2017-01-14 21:11:08
* @Last Modified by:   Jake Brukhman
* @Last Modified time: 2017-01-14 23:19:10
*/

html, body {
}

body {
  position: relative;
  // background-image: url('/assets/images/background.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
}

.main {
  text-align: center;
  width: 100%;

  .hero {
    background-color: white;
    opacity: .8;
    padding: 4em 0;
  }

  .jumbotron {
    color: white;
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
  }

  .info {
    font-size: 1.5em;
    color: #666;
    font-weight: lighter;
    line-height: 1em;
  }

  .logo {
    margin: 0 auto;
    display: block;
    width: 160px;
  }

  .slack {
    margin: 0 auto;
    display: block;
    width: 80px;
  }

  .divider {
    margin: 2em auto;
    width: 200px;
    &.green {
      border: 5px solid $color-highlight;
    }
    &.orange {
      border: 5px solid orange;
    }
  }

  .appeal {
    h3 { color: $color-highlight; }
  }

}


